*{
    font-size: 14px;
    border-color: gainsboro !important;
}
h6{
    font-size: 39px !important;
    font-weight: 700;
    display: flex;
    gap: 5px;
}

.Contact_us_btn{
    width: 119px;
    height: 41px;
    background: #D95103;
    color: white;
    font-size: 14px;
    border-radius: 40px;
}